---
layout: default
title: Experience
---

<div id = "content">
  <header class="post-header">
    <h1>Experiences</h1>
  </header>
  <p style="text-align:justify;">
  Successful DevOps Engineer with Over 8 years of professional Experience dedicated to Cloud, DevOps automation and Cloud Infrastructure as code focused on (cost optimization, cloud governance). I enjoy Designing, Implementing, and Supporting applications in the AWS, GCP, Azure cloud infrastructure. I’m a highly motivated, Enthusiastic about exploring new services in the DevOps and MLOps area. My greatest strength is my ability to thoroughly research a requirement and design a solution that is cost‑effective, resilient, fault‑tolerant, and highly available. Using my cloud expertise, I have greatly contributed to multiple successful migrations to AWS from on‑premise infrastructure.
  </p>

  <div class="Experiences">
    {% for experience in site.data.experiences %}
      <div class="experience">
        <div class="experience-name">
          <a href = "{{ experience.url }}">{{ experience.name }}</a>
          <span class="star-button">
          </span>
        </div>
        <ul class="experience-description">
          {% for line in experience.description %}
            <li>{{ line }}</li>
          {% endfor %}
        </ul>
        <span class="experience-tech">
          {% if experience.tech %}
            <span>Technologies involved</span>: {{ experience.tech }}
          {% else %}
            <span class="experience-padding">.</span>
          {% endif %}
        </span>
      </div>
    {% endfor %}
  </div>
</div>

<script async defer src="https://buttons.github.io/buttons.js"></script>
