---
layout: default
title: Experience
---

<div id = "content">
  <header class="post-header">
    <h1>Experience</h1>
  </header>
  To see a complete list of my projects, see my <a href="{{ site.data.params.resume_url }}">CV</a>. Below, is a list of some of my selected projects.

  <div class="projects">
    {% for project in site.data.experience %}
      <div class="project">
        <div class="project-name">
          <a href = "{{ experience.url }}">{{ experience.name }}</a>
        </div>
        <ul class="project-description">
          {% for line in project.description %}
            <li>{{ line }}</li>
          {% endfor %}
        </ul>
        <span class="project-tech">
          {% if project.tech %}
            <span>Technologies involved</span>: {{ project.tech }}
          {% else %}
            <span class="project-padding">.</span>
          {% endif %}
        </span>
        {% if project.source_url %}
          <span class="project-source"><a href = "{{ project.source_url }}">View Source</a></span>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

<script async defer src="https://buttons.github.io/buttons.js"></script>
